.header{
    display: flex;
    justify-content: space-between;/*mexe com o alinhamento igual o align mas no sentido horizontal no caso os conteudos do header se separam entre as extremidades as extremidades*/
    align-items: center;
    background-color: #dadada;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}
